.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  background: #faebd7;
}
.keyrow {
  display: flex;
}
.keyboard {
  padding: 10px;
  border-radius: 0px;
  background: linear-gradient(45deg, #e1d4c2, #fffbe6);
  box-shadow: 9px -9px 18px #bcb0a1, -9px 9px 18px #ffffff;
}
.text{
  width: 1000px;
  font-size: 36px;
  margin-bottom: 50px;
  background: #faebd7;
  outline: none;
  border: none;
}